@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,700,400);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Lato);


.sitename {
  color: #637f83;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.top_menu {
  display: inline-flex;
  list-style: outside none none;
  margin-top: 1.5em;
}

.top_menu li{
    padding:0 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 12px;
    
}

.top_menu li a{
    color:#637f83;
    position: relative;
}

.top_menu li .active:before, .top_menu li a:hover:before{
    position: absolute;
    font-family: fontawesome;
    content:'\f107';
    top:-15px; 
    text-align: center;
    line-height: inherit;
    width: 29px;
    color:#637f83;
}

.top_menu li a:hover{
    color: #e4551d;
    text-decoration: none;   
}



.top_menu li .active{
    color: #e4551d;
    
}

.banner1{
    width: 100%;
    padding:0;
}

.banner1 img{
    width: 100%;
}


//Carousel code
.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: -400px;
}

.carousel.vertical .prev {
  top: 400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: 400px;
}

.carousel.vertical .active.right {
  top: -400px;
}

.carousel.vertical .item {
    left: 0;
}

.carousel-caption{
    top:13%;    
    width:23.5%;
    height: 45%;
    left:36.5%;
    padding-bottom: 0;
}

.carousel-caption h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 27px;
}

.carousel-caption p {
font-family: 'Lato', sans-serif;
letter-spacing: 3px;
padding-top: 12px;
padding-left: 24px;
text-transform: uppercase;
font-size: .8em;
}

.carousel-caption a{
    color:#fff;
    text-decoration: underline;
}

.carousel-caption a:hover{   
    text-decoration: none;
}

.carousel-control.right{
    right: 51.5%;
}

.carousel-control {
  background: #e4551d;
  border-radius: 41px;
  color: #fff;
  font-size: 20px;
  height: 48px;
  top: 61%;
  width: 48px;
  opacity: 1;
}

.arrow{
    margin-top: 33%;
}
/*Carousel end*/

.txt1 {
  padding-bottom: 20px;
  color: #637f83;
  font-family: 'Source Sans Pro', sans-serif;
}

.txt1 h3{
    font-size: 23px;
    font-weight: bold;
    margin-top: 23px;
    margin-bottom: 0px;
}

.txt1 p{
    font-size: 15px;
}

.services {
  background: none repeat scroll 0 0 #f6f6f6;
  padding: 40px 0;
}

.services i{
    color:#e4551d;
}

.services h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #637f83;
}

.services p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color:#959494;
}

.services a {
  background: none repeat scroll 0 0 #637f83;
  border-radius: 4px;
  color: #fff;
  font-family: "Source Sans Pro",sans-serif;
  font-weight: 900;
  padding: 3px 8px;
}

.services a:hover{
    text-decoration: none;
}

.porfolio {
  margin-bottom: 20px;
  margin-top: 30px;
}

.porfolio a {
  background: none repeat scroll 0 0 #e4551d;
  border-radius: 4px;
  color: #fff;
  font-family: "Source Sans Pro",sans-serif;
  font-weight: bold;
  padding: 5px 10px;
}

.team_top{
    margin-top: 15px;
}

.team {
    padding-left: 30px;
}

.team h3 {
    font-family: "Source Sans Pro",sans-serif;
    font-weight: bold;
    margin-top: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #637f83;
    margin-bottom: 4px;
}

.team p {
    font-family: "Source Sans Pro",sans-serif;
    color: #959494;
    font-size: 10px;
}

.team a{
    color:#e4551d;
}

.footer1{
  background: #637f83  ;
  margin-top: 30px;
}

.txt2 {
  padding-bottom: 0px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

.txt2 h3{
    font-size: 23px;
    font-weight: bold;
    margin-top: 23px;
    margin-bottom: 0px;
}

.txt2 p{
    font-size: 15px;
}