@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,700,400);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Lato);


.sitename {
  color: #637f83;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.top_menu {
  display: inline-flex;
  list-style: outside none none;
  margin-top: 1.5em;
}

.top_menu li{
    padding:0 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 12px;
    
}

.top_menu li a{
    color:#637f83;
    position: relative;
}

.top_menu li .active:before, .top_menu li a:hover:before{
    position: absolute;
    font-family: fontawesome;
    content:'\f107';
    top:-15px; 
    text-align: center;
    line-height: inherit;
    width: 29px;
    color:#637f83;
}

.top_menu li a:hover{
    color: #e4551d;
    text-decoration: none;   
}



.top_menu li .active{
    color: #e4551d;
    
}

.banner1{
    width: 100%;
    padding:0;
}

.banner1 img{
    width: 100%;
}


//Carousel code
.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: -400px;
}

.carousel.vertical .prev {
  top: 400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: 400px;
}

.carousel.vertical .active.right {
  top: -400px;
}

.carousel.vertical .item {
    left: 0;
}

.carousel-caption{
    top:9%;
    
    width:23.5%;
    left:35%;
}

.carousel-caption h2{
    
}

.carousel-caption p{
    
}

.carousel-caption a{
    color:#fff;
    text-decoration: underline;
}

.carousel-caption a:hover{   
    text-decoration: none;
}
//Carousel end